*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    outline: none;
}
html{
    height: 100vh;
}
body{
    background-color: coral;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
#overlay-winscreen{
    width: 100vw;
    height: 100vh;
   opacity: 0.4;
    position: absolute;
    background-color: rgb(59, 59, 59);
}
.box{
    width: 100px;
    height: 100px;
    border: 8px solid #ff81e2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
      background-color: #A7F1FC;
}
.game-container h1{
    font-size:1000%;
    display: none;
 color: #ffb9ef;
    
}
.game-container h1{
   display: none;
}

.container{ 
   display: flex;
justify-content: center;
}
.container input{
    color:coral;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: none;
    font-size: 23px;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
}
#container-title h2{
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 60px;
}

#player1-shape{
    background-color:#FF7F50;
    transition: 300ms;
    width: 30%;
    height: 100px;
}

#player2-shape{
    background-color:#FF7F50;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100px;
    transition: 300ms;
}
#display-symbol1{
   
    font-size: 15px;
}
#display-symbol2{

    font-size: 15px;
}
#player2-shape h2{
    font-family: 'Black Han Sans', sans-serif;
    color: coral;
    font-size: 40px;
}
#player1-shape h2{
    font-family: 'Black Han Sans', sans-serif;
    color: coral;
    font-size: 40px;
    
}
.game-container{
    margin: 0 20px 0 20px;
    gap: 5px;
    display: grid;
   grid-template-rows: 0.5fr 0.5fr 3.5fr;
   grid-template-columns: 1fr 1fr 1fr;
}
.container-title{   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#upptagen{
    color: red;
    margin-top: 150px;
    display: none;
}
#winnertag{
    position: absolute;
    font-size: 175px;
    color: #A2FCF7;
    font-family: 'Rubik Mono One', sans-serif;
}
#winter-title{
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tietag{
    margin-top: 15%;
    position: absolute;
    font-size: 300px;
    color: #A2FCF7;
    font-family: 'Rubik Mono One', sans-serif;
}
.tiescreen{
    background-color: coral;
    top: 0;
    height: 100vh;
    width: 100vw;
    position:absolute;
    display: none;
    justify-content: center;
}
#insert-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: 870px;
    width: 80%;
   background-color:rgb(167, 241, 252) ; 
    position: absolute;
    font-size: 30px;
    transition: 1000ms;
}
#names1{
   transition: 100ms; 
}
.box {
    width:10vw;
    height: 10vw;
}
#restart{
    width: 500px;
    height: 100px;
    border-width: 10px;
    border-style:solid; 
    border-color: #ff81e2;
    box-shadow: 5px 10px #A2FCF7;
    border-radius: 20px;
    background-color: transparent;
    font-size: 25px;
    bottom: 10vh;
    position: absolute;
font-family: 'Black Han Sans', sans-serif;
}
#restart:hover{
    background-color: #ff81e2;
    transition:100ms;

}
#try-again{
    width: 500px;
    height: 100px;
    border-width: 10px;
    border-style:solid; 
    border-color: #ff81e2;
    box-shadow: 5px 10px #A2FCF7;
    border-radius: 20px;
    background-color: transparent;
    font-size: 25px;
    bottom: 10vh;
    position: absolute;
font-family: 'Black Han Sans', sans-serif;
}
#try-again:hover{
    background-color: #ff81e2;
    transition:100ms;
}


#insert-name button:hover{
    text-shadow: 5px 5px rgb(255, 188, 163);
}

#play{
   
}
.user1{
    margin-right: 300px;
    display: flex;
    gap:50px;
    flex-direction: column;
}
.user2{
    display: flex;
    gap:50px;
    flex-direction: column;
}
.user1 label{

    color: #e58ad0;
   transform: scale(250%);
   font-family: 'Black Han Sans', sans-serif;
}
.user2 label{
    color: #e58ad0;
    transform: scale(250%);
    font-family: 'Black Han Sans', sans-serif;
 }

.user-container{
    display: flex;
    justify-content: space-between;
}
.users{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}
#insert-name button{
    margin-top: 200px;
    font-size: 90px;
    width: 435px;
    height: 180px;
    color: coral;
    border: none;
    background-color: transparent;
    font-family: 'Rubik Mono One', sans-serif;
    animation:  pulses 4s infinite;
}
@keyframes pulses {    
    /* from {
        transform: scale(100%);
      }
      to {
        transform: scale(110%);
      } */
      0%{
        transform: scale(1);
      }
      50%{
        transform: scale(1.05);
      }
      100%{
        transform: scale(1);
      }
 }
.user1 span {
    font-family: 'Black Han Sans', sans-serif;
    color: #FFB9EF;
}
.winnerscreen{
    height: 100vh;
    display: none;
    justify-content: center;
}
