*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    width: 100px;
    height: 100px;
    border: 3px solid lightblue;
    margin: 5px;
}
img{
    width: 100px;
    position: absolute;
    display: none;
}
.box:hover{
    background-color: rgb(239, 239, 239);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}
#player1-shape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 360px;
}
#player2-shape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 360px;
}
.game-container{
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.container-title{
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#upptagen{
    color: red;
    margin-top: 150px;
    visibility: hidden;
}