*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    background-color: coral;
    text-align: center;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(107, 172, 194);
    margin: 5px;
}
img{
    width: 100px;
    position: absolute;
    display: none;
}
.box:hover{
    background-color: rgb(186, 186, 186);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}
.container-title h1{
    font-size: 80px;
    margin-bottom: 0;
}
.container-title{
    margin-top:0;
    display: flex;
    justify-content: center;
}
#name1{
    font-size: 30px;
    margin-top: 30px;
}
#player1-shape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 360px;
    background-color: rgb(167, 241, 252);
   margin-right: 30px;
   
}
#player2-shape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 360px;
    background-color: rgb(167, 241, 252);
    margin-left: 30px;
}
#player2-shape h2{
    color: coral;
    font-size: 40px;
}
#player1-shape h2{
    color: coral;
    font-size: 40px;
}
.game-container{
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.container-title{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#upptagen{
    color: red;
    margin-top: 150px;
    display: none;
}
#winnertag{
    transition: 700ms;
    font-size: 50px;
    margin-bottom: 30px;
}
#insert-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1300px;
    background-color: rgb(174, 174, 174);
    position: absolute;
    font-size: 30px;
}
#restart{
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: solid 2px rgb(167, 241, 252);;
    background-color: transparent;
    font-size: 25px;
}
#insert-name button{
    margin-top: 20px;
    width: 150px;
}
.insert-name label{
    font-size: 100px;
}